<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023320427231-g7h04bkgqvtf6chahs022nn96rj7kghd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023320427231-g7h04bkgqvtf6chahs022nn96rj7kghd</string>
	<key>API_KEY</key>
	<string>AIzaSyBO5PpTvM0Buw4T0FLjAoC4MjSM100j8YM</string>
	<key>GCM_SENDER_ID</key>
	<string>1023320427231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eatwelltracker.alestrasol</string>
	<key>PROJECT_ID</key>
	<string>eat-well-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-well-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023320427231:ios:9c683c873090bd666f776a</string>
</dict>
</plist>